:root {
    --pastel-pink: #ebd5ca;
    --mint-green: #d4f3c1;
    --white: #f4f1de;
    --midnight-blue: #00346b;
    --purple: #390a70;
    --sunset-orange: #ff8500;
}

body {
    margin: 0;
    background-image: url(https://wallpaperaccess.com/full/84248.png);
    /* background-image: url(https://wallpaperaccess.com/full/84253.jpg); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
}

.banner-bar {
    width: 100%;
}

.nav-bar {
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100px;
    backdrop-filter: blur(0.03rem); /*blurs the background*/
}

/* Progress Bar
.progress-container {
    height: 23px;
    background-color: grey;
    position: relative;
    border-radius: 6px ;
}

.progress-container .progress-bar {
    position: absolute;
    height: 100%;
    background-color: red;
    border-radius: 6px;
}

#play-animation {
    animation: progress-animation 5s forwards;
}

@keyframes progress-animation {
    0% { width: 0%;}
    100% { width: 100%;} /*bar will fill up the width of the container by the end of the video.*/
} */